.image-wrapper {
  opacity: 0;
  transform: translateX(200px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.image-wrapper.loaded {
  opacity: 1;
  transform: translateX(0);
}

.placeholder {
  height: 200px;
  background-color: #e0e0e0;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  top: 20vh;
  position: relative;
}

.image-wrapper {
  max-width: 60vw;
  height: 40vh;
  width: auto;
  margin: 20px auto;
  overflow: hidden;
  border: 5px white;
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.image-wrapper img {
  height: 100%;
  width: auto;
}

.image-wrapper p {
  color: aliceblue;
  font-size: x-large;
  margin: 1px;
}

@media (max-width: 768px) {
  .image-wrapper {
    width: 80%;
  }

  .image-wrapper img {
    padding: 20px;
  }

  .image-wrapper p {
    font-size: large;
  }
}
