.image-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  top: 20vh;
  position: relative;
}

.image-wrapper {
  width: 600px;
  height: 400px;
  margin: 20px;
  overflow: hidden;
  border: 5px white;
  display: flex;
  flex-direction: row;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 30px;
}

.image-wrapper p {
  color: aliceblue;
  font-size: x-large;
  margin-top: 5vh;
}
