header {
  background: linear-gradient(to left, #f06d06, #f79d00, #364de1fa, #b95cf4);
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  top: 0;
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

header h1 {
  margin: 0;
  flex-grow: 1; /* Makes the h1 take up available space */
  text-align: center;
}

header h1 span {
  color: rgb(0, 0, 0);
  padding: 4px;
}

.toggle-container {
  padding-left: 25px;
  padding-right: 25px;
}

.toggle-button {
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
}

@media (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between; /* Keeps h1 centered and toggle button on the right */
    padding: 10px;
    height: auto;
  }

  header h1 {
    font-size: 20px;
    flex-grow: 0;
    text-align: center;
  }

  .toggle-button {
    font-size: 12px;
    padding: 4px;
  }

  header h1 span {
    padding: 10px;
  }
}
