header {
  background: linear-gradient(to right, #f06d06, #f79d00, #fca600, #ffd43b);
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

header h1 span {
  color: rgb(0, 0, 0);
  padding: 20px;
}
